<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link href="./semantic/dist/semantic.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="./assets/css/mystyle.css" media="screen" rel="stylesheet" type="text/css">

  <script src="./assets/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/jquery-ui/external/jquery/jquery.js" type="text/javascript"></script>
  <script src="./assets/js/filter.min.js" type="text/javascript"></script>
  <script src="./assets/mustache/mustache.min.js" type="text/javascript"></script>
  <script src="./semantic/dist/semantic.min.js" type="text/javascript"></script>
  
  <script src="./data/data.js" type="text/javascript"></script>
  <script src="./assets/js/auto.js" type="text/javascript"></script>

  <title>#EcoPhyto - Pesticides - Projets de recherche</title>
</head>
<body>
  <div class="ui hidden divider"></div>
  <div id="haut" class="ui container grid">
    <div class="row ui conteneurblue">
      <div class="two wide column"><img class="ui image" src="assets/img/logo_marianne.png" alt="Logo Ministère" width='100pt'></div>
	  <div class="two wide column"><img class="ui image" src="assets/img/ecophyto_logo.png" alt="Logo Ecophyto" width='200pt'></div>
      <div class="ten wide column centered">
        <div class="titre">Pesticides - Projets de recherche</div>
        <div class="label">Projets financés aux niveaux national et européen depuis 2009.<br/>Base réalisée par le service de la recherche du <a href="https://www.ecologie.gouv.fr/" target="_blank">ministère de la Transition écologique</a> avec l'appui des ministères en charge de l'agriculture, la santé et la recherche.<br/>Contact : <a href="mailto:ecophyto-recherche@developpement-durable.gouv.fr"><i class="mail icon"></i></a></div>
        <div class="update">mise à jour : 26/02/2021</div> 
      </div>
    </div>
	
    <div class="row container">
      <div class="four wide column center aligned">
        <div class="ui container">
          <div class="ui container statistic">
            <div class="value">
              <span id="mydata_count">0</span>
            </div>
            <div class="label">jeux de données</div>
          </div>
          <div class="ui container icon input">
            <i class="search icon"></i>
            <input type="text" id="searchbox" placeholder="Chercher&hellip;" fjs-search>
          </div>
          <div class="ui container"><p>&nbsp;</p></div>
          <div class="ui container left aligned" id="target">Chargement...</div>
          <div class="ui container"><p>&nbsp;</p></div>
		  <div class="overlay"><div class="ui labeled icon vertical menu"><a class="item" href="#haut"><i class="angle double up icon"></i></a></div>
    </div>	
        </div>
      </div>
      <div class="one wide column"></div>
      <div class="eleven wide column ui container">
        <div class="movies content row" id="records" fjs-items="template=#data-template"></div>
      </div>
    </div>
    <div class="row center aligned container">
      <div class="sixteen wide column">
        <span class="text-muted small">© 2021 - Ministère de la Transition Ecologique</span>
      </div>
    </div>
  </body>
  </html>

  <script id="data-template" type="text/html">
    <div class="ui raised segment">
      <p class="ui blue ribbon label"><%= SIGLE %></p>
	  <span><b><%= TITRE %></b></span>
	  <p></p>
      <div class="ui two column grid">
        <div class="column">
          <div class="ui segments">
            <div class="ui segment">
              <p>Programme / appel / action : <%= PROGRAMME %></p>
              <p>Organisme porteur : <%= ORGANISME %></p>
              <% if(PARTENAIRES) { %><p>Partenaires : 
			  		  <% var mywords=PARTENAIRES.split(',') ; for (index=0;index<mywords.length;++index) { %>
					  <a class="ui label tiny" href="#" onclick="javascript:document.getElementById('searchbox').focus();searchbox.value='<%= mywords[index] %>';FJS.filter();"><%= mywords[index] %></a>
					  <% } %></p>
				<% } %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui segments">
            <div class="ui segment">
              <p>Calendrier du projet : <%= ANNEE_DEBUT %> - <%= ANNEE_FIN %></p>
              <p>Subvention <%= FINANCEUR1 %> : <%= toEuro(SUBVENTION1) %></p>
              <% if(FINANCEUR2) { %><p>Subvention <%= (FINANCEUR2) %> : <%= toEuro(SUBVENTION2) %></p><% } %>
              <% if(COUTPROJET) { %><p>Coût du projet : <%= toEuro(COUTPROJET) %></p><% } %>
              <% if(RESULTATS) { %><p>Site du projet : <%= linkify(RESULTATS) %></p><% } %>
            </div>
          </div>
        </div>
		</div>
		<div class="ui one column grid">
			<div class="column">
				<div class="ui segment">
				  <div class="ui horizontal labels">Mots-clefs :
					  <% var mywords=MOTSCLEFS.split(';') ; for (index=0;index<mywords.length;++index) { %>
					  <a class="ui label tiny" href="#" onclick="javascript:document.getElementById('searchbox').focus();searchbox.value='<%= mywords[index] %>';FJS.filter();"><%= mywords[index] %></a>
					  <% } %>
					</div>
				</div>
			</div>
		</div>
        <div class="ui container">
			<p></p>
			<p><%= linkify(RESUME) %></p><br />
        </div>
      </div>
    </script>

<!-- <script id="genre_template" type="text/html">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="<%= genre %>"> <%= genre %>
    </label>
  </div>
</script> -->

<script id="template" type="x-tmpl-mustache">

  <div>
    <fieldset id="etat_criteria">
      <legend>Etat du projet</legend>
            <input type="checkbox" name="etat" value ="All" id="etat_all"><span><b> Tout</b></span>
      {{#ETAT}}{{#.}}
      <div class="etat">
        <div class="checkbox" fjs-criteria="field=ETAT,ele=#etat input:checkbox">
          <label>&nbsp;&nbsp;<input type="checkbox" name="etat" value="{{.}}"><span> {{.}}</span></label>
        </div>
      </div>
      {{/.}}{{/ETAT}}
    </fieldset>
  </div>

  <div><p>&nbsp;</p></div>

  <div>
    <fieldset id="appel_criteria">
      <legend>Appel / action</legend>
            <input type="checkbox" name="appel" value ="All" id="appel_all"><span><b> Tout</b></span>
      {{#APPEL}}{{#.}}
      <div class="appel">
        <div class="checkbox" fjs-criteria="field=APPEL,ele=#appel input:checkbox">
          <label>&nbsp;&nbsp;<input type="checkbox" name="appel" value="{{.}}"><span> {{.}}</span></label>
        </div>
      </div>
      {{/.}}{{/APPEL}}
    </fieldset>
  </div>

</script>
